*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-width: 480px; 
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  h2{
    font-size: 30px;
    text-align: center;
  }
}

.dropdown{
   
  .dropdown_form{
    
    .select-wrapper ul li span{
      color: black;
    }
  }  
} 

.sort_by {
   
  .label_text{
    font-size: 1rem;
    margin-right: 1rem;
  }
  //change default radio color
  [type="radio"].with-gap:checked+span:before,
  [type="radio"].with-gap:checked+span:after{
    background-color: #3949ab ;
    border:2px solid #3949ab ;
  } 
  .submit_btn{
    margin-left: 1rem; 
  }
  
}
.page-link{
  div p{
    margin-bottom: 1rem;
    a:focus, a:hover{
      color: #3949ab !important;
      text-decoration: underline;
    }
     
  }
}

 


@media only screen and (max-width: 1200px) {
 
}

@media only screen and (max-width: 992px) {
 h1{
   font-size: 30px;
 }
 h2{
   font-size: 20px !important;
 }
 .sort_by_text{
   margin-left: 2rem;
 }
}

@media only screen and (max-width: 600px) {
 h1{
   font-size: 25px;
 }
 h2{
   font-size: 15px !important;
 }
 .sort_by_text{
   margin-left: 0.5rem;
 }
}
 